@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: Munken Sans;
    font-weight: 400;
    src: url(/fonts/munken-sans/MunkenSansWeb-Regular.woff2) format("woff2"),
      url(/fonts/munken-sans/MunkenSansWeb-Regular.woff) format("woff");
  }
  @font-face {
    font-family: Munken Sans;
    font-weight: 500;
    src: url(/fonts/munken-sans/MunkenSansWeb-Medium.woff2) format("woff2"),
      url(/fonts/munken-sans/MunkenSansWeb-Medium.woff) format("woff");
  }
  @font-face {
    font-family: Munken Sans;
    font-weight: 700;
    src: url(/fonts/munken-sans/MunkenSansWeb-Bold.woff2) format("woff2"),
      url(/fonts/munken-sans/MunkenSansWeb-Bold.woff) format("woff");
  }
  section {
    @apply px-2;
  }
  h2 {
    @apply font-medium text-2xl;
  }
  h1,
  h2,
  h4,
  p,
  span,
  a {
    @apply text-gray-900;
  }
  address p,
  address h4,
  address a {
    @apply text-white;
  }
  p {
    @apply pb-4;
  }
  #our-method p {
    @apply pb-8 text-center;
  }
  h4 {
    @apply text-xl font-medium;
  }
  a {
    @apply underline;
  }
  #analysis rect[fill="#6c63ff"],
  #analysis path[fill="#6c63ff"] {
    @apply fill-current text-accent;
  }
  @screen lg {
    #our-method p {
      @apply tracking-normal leading-normal mb-6;
    }
  }
}
